.breadcrumb {
	padding: 6px 0 35px 0;
    background-color: transparent;
	margin: 0 -2px;
	font-size: 12px;
    span.divider{
    	display: none;
    }
    li + li:before{
    	content: '\f105';
    	font-family: 'FontAwesome';
        font-weight:bold;
    }
    li:first-child + li:before{
    	display: none;
    }
	> li {
		padding: 0;
	}
	.active {
		a, span {
			color: rgba(31,40,66,0.5);
		}
	}
}
.dark-bg {
	li + li:before{
    	content: '\f105';
    	font-family: 'FontAwesome';
    	color: #fff;
    }
	.breadcrumb {
		padding: 0;
		li > span[itemprop="name"],
		> .active {
			color: #fff;
		}
	}
}