label{
    font-weight: normal;
    span.star{
        color: #F95050;
    }
}
.chzn-container-single .chzn-single,
select[multiple], select[size],
select, textarea, 
input[type="text"], 
input[type="password"], 
input[type="datetime"], 
input[type="datetime-local"], 
input[type="date"], 
input[type="month"], 
input[type="time"], 
input[type="week"], 
input[type="number"], 
input[type="email"], 
input[type="url"], 
input[type="search"], 
input[type="tel"], 
input[type="color"]{
    border: 1px solid #bec0c6;
    height: 46px;
    padding: 0 18px;
    font-size: 14px;
    background-color: #fff;
    background-image: none;
    box-sizing: border-box !important;
    transition: border-color ease-in-out .15s;
    outline: 0;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    box-shadow: none;
    &:focus{
        border-color: #757b80;
        box-shadow: none;
    }
    &[aria-invalid="true"]{
        // border-color: #F95050;
    }
    &:focus{
        border-color: #757b80;
    }
}
.chzn-container-single {
 .chzn-single {
     line-height: 46px;
     div b{
		margin: 0 -10px;
        background: url(../images/icon/icon-drop.png) no-repeat;
		background-position: center center !important;
     }
 }
}
textarea {
    height: auto;
}
button.close{
    opacity: 1;
    color: inherit;
    line-height: 13px;
}
input[disabled], 
select[disabled], 
textarea[disabled], 
input[readonly], 
select[readonly], 
textarea[readonly]{
    cursor: not-allowed;
    // background-color: #F0F2F5;
}
input[type="file"]#upload-file{
    margin-bottom: 15px;
}
label{
    &.radio,
    &.checkbox{
        @include rtl-margin-left(20px);
    }
}
// .chzn-container-single .chzn-single {
//     border-radius: 0;
//     box-shadow: none;
//     background: transparent;
//     border-color: #d5d6d8;
//     height: 35px;
//     line-height: 35px;
//     div b {
//         margin: 5px 0;
//     }
// }
// .chzn-container-single .chzn-single span{
//     @include rtl-margin-right(0);
// }